<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghi chú</title>
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

    <link rel="stylesheet" th:href="@{/css/quick_quiz_save.css}">

</head>
<body>
<div class="container">
    <h1>Tạo câu hỏi</h1>
    <form action="#" th:action="@{/quick-quiz/api/create}" th:method="post" enctype="multipart/form-data">
        <div>
            <label for="title">Tiêu đề:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="question">Câu hỏi:</label>
            <textarea id="question" name="question" required></textarea>
        </div>
        <div>
            <label for="thumbnailFile">Ảnh minh họa (nếu có):</label>
            <input type="file" id="thumbnailFile" name="thumbnailFile" accept="image/png, image/jpeg">
        </div>
        <div>
            <label for="answerA">Câu A:</label>
            <textarea id="answerA" name="answerA" required></textarea>
        </div>
        <div>
            <label for="answerB">Câu B:</label>
            <textarea id="answerB" name="answerB" required></textarea>
        </div>
        <div>
            <label for="answerC">Câu C:</label>
            <textarea id="answerC" name="answerC" required></textarea>
        </div>
        <div>
            <label for="answerD">Câu D:</label>
            <textarea id="answerD" name="answerD" required></textarea>
        </div>
        <div>
            <label for="result">Đáp án đúng:</label>
            <select id="result" name="result" required>
                <option value="">-- Chọn đáp án --</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <button type="submit">Lưu câu đố</button>
    </form>
    
</div>


<script>
    CKEDITOR.replace('note');
   // Load saved note from localStorage and set it to CKEditor instance when the page loads
   window.onload = function() {
    //    CKEDITOR.instances.note.setData();
       CKEDITOR.config.versionCheck=false
   };

   // Save the note from CKEditor to localStorage
   function saveNote(id, randomId) {
        const noteContent = CKEDITOR.instances.note.getData();
        var title = document.getElementById('title').value
        fetch("/api/note/save", {
        method: "POST",
        body: JSON.stringify({
            id : id,
            randomId : randomId,
            title : title,
            htmlContent : noteContent
        }),
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
        })
        .then(res => res.json())
        .then(res => {
            console.log(res);
            var data = res.data
            console.log("1");
            if(res.status == '200'){
                console.log("2");
                window.location = "/note/my-note";
            } else {
                console.log("3");
                alert(data.message)
            }
        });
   }

   // Clear the note and localStorage
   function clearNote() {
       if (confirm("Are you sure you want to clear the note?")) {
           CKEDITOR.instances.note.setData("");
           localStorage.removeItem("notepad");
           alert("Note cleared!");
       }
   }
</script>
</body>
</html>