<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghi chú</title>
    <link rel="stylesheet" th:href="@{/css/quick_quiz_log.css}">

</head>
<body>
<div class="container">
    <h1>Danh sách người dùng trả lời</h1>
    <div style="
        text-align: left;
    ">
        <h1 style="color: red;" th:text="${quickQuizRankDTO.numberPointTrue}"></h1>
<!--        <h1 style="color: green;" th:text="${quickQuizRankDTO.personTrue}"></h1>-->
    </div>

    <h1>Danh sách người dùng trả lời</h1>
    <table class="dto-table">
        <thead>
        <tr>
            <th>Tên</th>
            <th>Tiêu đề</th>
            <th>Câu hỏi</th>
            <th>Câu trả lời</th>
            <th>Kết Quả</th>
            <th>Dự đoán</th>
        </tr>
        </thead>
        <tbody>
        <!-- Sample Row -->
        <tr th:each="item : ${quickQuizLogDTOS}">
            <td th:text="${item.fullName}">John Doe</td>
            <td th:text="${item.title}">Sample Title</td>
            <td th:text="${item.question}">What is the meaning of life?</td>
            <td th:text="${item.answer}">42</td>
            <td th:text="${item.isCorrect ? 'Đúng' : 'Sai'}"
            th:classappend="${item.isCorrect} ? 'status correct' : 'status incorrect'">Đúng</td>
            <td th:text="${item.answerNumberTrue}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>