<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghi chú</title>

    <link rel="stylesheet" th:href="@{/css/quick_quiz_list.css}">

</head>
<body>
<h1>Danh sách câu đố</h1>
<div>
    <button th:onclick="handleInitQuickQuiz()">Tạo câu đố</button>
</div>
<table>
    <thead>
    <tr>
        <th>Tiêu đề</th>
        <th>Câu hỏi</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="quickQuiz : ${quickQuizDTOS}">
        <td>
            <a th:href="@{/quick-quiz/edit/{randomId}(randomId=${quickQuiz.randomId})}" th:text="${quickQuiz.title}" class="note-title none-style-tag-a">Sample Title</a>
        </td>
        <td>
            <a th:href="@{/quick-quiz/edit/{randomId}(randomId=${quickQuiz.randomId})}" th:text="${quickQuiz.question}" class="note-title none-style-tag-a">Sample Title</a>
        </td>
        <td class="actions">
            <!-- Edit button -->
            <a th:href="@{/quick-quiz/edit/{randomId}(randomId=${quickQuiz.randomId})}" class="edit" title="Chỉnh sửa">
                <img class="icon-button" th:src="@{/images/ic_edit.png}" />
            </a>
            <!-- Delete button -->
            <a th:href="@{/quick-quiz/delete/{id}(id=${quickQuiz.id})}" class="delete" title="Xoá">
                <img class="icon-button" th:src="@{/images/ic_delete.png}" />
            </a>
            <a th:href="@{/quick-quiz/log/{randomId}(randomId=${quickQuiz.randomId})}" class="edit" title="Nhật ký">
                <img class="icon-button" th:src="@{/images/ic_quick_quiz_log_list.png}" />
            </a>
            <a th:switch="${quickQuiz.isPicked}" class="delete">
                <img class="icon-button" th:case="true" th:src="@{/images/ic_show.png}" title="Tắt"/>
                <img class="icon-button" th:case="false" th:src="@{/images/ic_hide.png}" title="Bật"th:onclick="handleEnableQuickQuiz([[${quickQuiz.randomId}]])"/>
            </a>
        </td>
    </tr>
    </tbody>
</table>


<script>

    function handleInitQuickQuiz() {
          fetch("/api/quick-quiz/init", {
          method: "GET",
          headers: {
              "Content-type": "application/json; charset=UTF-8"
          }
          })
          .then(res => res.json())
          .then(res => {
              console.log(res);
              var data = res.data
              if(res.status == '200'){
                  window.location = "/quick-quiz/" + data;
              } else {
                  alert(res.message)
              }
          });
     }

        function handleEnableQuickQuiz(randomId) {
          fetch("/api/quick-quiz/enable-item", {
          method: "POST",
          body: JSON.stringify({
                randomId : randomId
              }),
          headers: {
              "Content-type": "application/json; charset=UTF-8"
          }
          })
          .then(res => res.json())
          .then(res => {
              console.log(res);
              var data = res.data
              if(res.status == '200'){
                  location.reload();
              } else {
                  alert(res.message)
              }
          });
     }
</script>
</body>
</html>