<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nhập nội dung đề</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/ic_logo_app.png}">
    <link rel="stylesheet" th:href="@{/css/test_create_info.css}">
</head>
<body>
    <h1>Nhập nội dung (PDF)</h1>
    <form action="#" th:action="@{/test/api/save/{uuid}(uuid=${testCollectionDTO.testCollectionUUID})}" th:method="post" enctype="multipart/form-data">
        <div>
            <label for="testTopicName">Tên đề:</label>
            <input type="text" id="testTopicName" name="testTopicName" required>
        </div>
        <div>
            <label for="pdfFile">Nội dung bài PDF:</label>
            <input type="file" id="pdfFile" name="pdfFile" accept="application/pdf" required>
        </div>
        <button type="submit">Tiếp tục tạo đáp án ></button>
    </form>

</body>
</html>