<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tạo bài kiểm tra</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/ic_logo_app.png}">
</head>
<body>
<!--    <form action="#" th:action="@{/upload}" th:method="post" enctype="multipart/form-data">-->
<!--        <input type="file" name="imageFile" />-->
<!--        <button type="submit">Upload</button>-->
<!--    </form>-->
<!--    <div>-->
<!--        <p th:text="${message}"></p>-->
<!--        <img th:src="@{'/uploads/' + ${fileName}}" alt="Uploaded Image" />-->
<!--    </div>-->
<h1>Khởi tạo bài kiểm tra</h1>

<form action="#" th:action="@{/test/api/save}" th:method="post" enctype="multipart/form-data">
    <div>
        <label for="testCode">Mã bài kiểm tra:</label>
        <input type="text" id="testCode" name="testCode" required>
    </div>
    <div>
        <label for="testName">Tên bài kiểm tra:</label>
        <input type="text" id="testName" name="testName" required>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
    </div>
    <div>
        <label for="collectionPrefix">Collection Prefix:</label>
        <textarea id="collectionPrefix" name="collectionPrefix" required></textarea>
    </div>
    <div>
        <label for="collectionParentPrefix">Collection Parent Prefix:</label>
        <textarea id="collectionParentPrefix" name="collectionParentPrefix" required></textarea>
    </div>
    <div>
        <label for="thumbnailFile">Ảnh bìa (PNG/JPG):</label>
        <input type="file" id="thumbnailFile" name="thumbnailFile" accept="image/png, image/jpeg" required>
    </div>
    <div>
        <label for="pdfFile">Nội dung bài PDF:</label>
        <input type="file" id="pdfFile" name="pdfFile" accept="application/pdf" required>
    </div>
    <button type="submit">Tiếp tục tạo đáp án ></button>
</form>
</body>
</html>