<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lưu câu trắc nghiệm</title>
    <link rel="stylesheet" th:href="@{/css/test_create_detail_question.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/ic_logo_app.png}">
</head>
<body>
    <div class="test-create-detail-question-container">
        <div class="top-container">
            <h1 th:text="${testDTO.testTopicName}"></h1>
            <div id="btn-submit">
                <button class="button-submit" th:onclick="'submitQuestionItem('+ ${testDTO.numberChooseTest} +' ,'+ ${testDTO.id} +')'" role="button">Lưu</button>
            </div>
        </div>
        <div class="bottom-container">
            <div class="pdf-container">
                <div class="pdf-content">
                    <iframe th:src="@{'/resource/' + ${testDTO.pdfFile}}" width="90%" height="80%">
                    </iframe>
                </div>
            </div>
            <div class="choose-question-container">
                <h2>Cài đặt kết quả</h2>
                <div class="choose-question-list">
                    <div class="choose-question-item" th:each="index : ${#numbers.sequence(0, testDTO.numberChooseTest - 1)}">
                        <h2 class="item-index">[[${index} + 1]]</h2>
                        <div>
                            <label>
                                <input type="radio" id="optionA" th:attr="name='selectedOption-'+${index}" value="A" th:onclick="'onRadioButtonClick(' + ${index} + ', \'A\')'">
                                <span>A</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" id="optionB" th:attr="name='selectedOption-'+${index}" value="B" th:onclick="'onRadioButtonClick(' + ${index} + ', \'B\')'">
                                <span>B</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" id="optionC" th:attr="name='selectedOption-'+${index}" value="C" th:onclick="'onRadioButtonClick(' + ${index} + ', \'C\')'">
                                <span>C</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" id="optionD" th:attr="name='selectedOption-'+${index}" value="D" th:onclick="'onRadioButtonClick(' + ${index} + ', \'D\')'">
                                <span>D</span>
                            </label>
                        </div>
                    </div>
                    <div class="choose-question-item" th:each="index : ${#numbers.sequence(testDTO.numberChooseTest, (testDTO.numberChooseTest) + testDTO.numberWriteTest - 1)}">
                        <h2 class="item-index">[[${index} + 1]]</h2>
                        <input type="number" th:id="'answer' + i" th:class="'answer-input'"/>
                        <br />
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script>


    listAnswerChecked = [];
    function onRadioButtonClick(index, value){
        console.log(index, value);
        listAnswerChecked[Number.parseInt(index)] = value
        console.log(JSON.stringify(listAnswerChecked));
    }
    function submitQuestionItem(totalItem, testId){
        // validate
        console.log(listAnswerChecked);
        var isAllChecked = true;
        var listNotChecked = [];
        for(var i = 0; i < totalItem; i++){
            if(!listAnswerChecked[i]){
                isAllChecked = false
                listNotChecked.push(i + 1)
            }
        }

        const answers = [];
        const emptyIndices = [];
        console.log(listNotChecked);
    
        document.querySelectorAll(".answer-input").forEach((input, index) => {
            if (input.value.trim() === "") {
                emptyIndices.push(totalItem + index + 1); // Store 1-based index of empty fields
            } else {
                answers.push(input.value);
            }
        });

        if(!isAllChecked || emptyIndices.length > 0){
            var listStr = "";
            listStr = listNotChecked.concat(emptyIndices).join(", ")
            alert("Bạn chưa nhập đủ đáp án, các câu chưa nhập là: " + listStr)
            return;
        }

        // build object answer
        let answerChooseList = [];
        let answerWriteList = [];
        for(var i = 0; i < totalItem; i++){
            const item = {}
            item.sortOder = i + 1
            item.result = listAnswerChecked[i]
            item.type = "A"
            item.testId = testId
            answerChooseList.push(item);
        }

        document.querySelectorAll(".answer-input").forEach((input, index) => {
            const item = {}
            item.sortOder = totalItem + index + 1
            item.result = input.value
            item.type = "B"
            item.testId = testId
            answerWriteList.push(item);
        });

        saveQuestionItemLessons(answerChooseList, answerWriteList, testId);
    }

    function saveQuestionItemLessons(answerChooseList, answerWriteList, testId) {
        fetch("/api/test/save-result", {
        method: "POST",
        body: JSON.stringify({
                testId :testId,
                answerChooseList : answerChooseList,
                answerWriteList : answerWriteList
            }),
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
        })
        .then(res => res.json())
        .then(res => {
            console.log(res)
            if(res.status == '200'){
                console.log(JSON.stringify(res));
                window.location.href = '/test/test-list-by-collection/'+ res.data.testCollectionUUID;
            }else{
                alert(res.message)
            }
        });
      }

    function arrayToMap(arr) {
    let result = {};
    arr.forEach((value, index) => {
        result[index + 1] = {
            "type": "1", // Assuming "type" is always 1 based on the provided structure
            "value": value
        };
    });
    return result;
}
</script>
</html>