<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghi chú</title>

    <link rel="stylesheet" th:href="@{/css/quick_quiz_list.css}">

</head>
<body>
<h1>Danh sách bài học</h1>
<div>
    <button style="background-color: #007bff; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">
        <a href="/news/create" style="color: white; text-decoration: none; display: inline-block; width: 100%; height: 100%;">Tạo bài học</a>
    </button>
</div>
<table>
    <thead>
    <tr>
        <th>Tên</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${newsDTOS}">
        <td>
            <a th:text="${item.newsName}" class="note-title none-style-tag-a">Sample Title</a>
        </td>
        <td class="actions">
            <!-- Delete button -->
            <a th:href="@{/news/delete/{id}(id=${item.id})}" class="delete" title="Xoá">
                <img class="icon-button" th:src="@{/images/ic_delete.png}" />
            </a>
        </td>
    </tr>
    </tbody>
</table>


<script>

    function handleInitQuickQuiz() {
          fetch("/api/quick-quiz/init", {
          method: "GET",
          headers: {
              "Content-type": "application/json; charset=UTF-8"
          }
          })
          .then(res => res.json())
          .then(res => {
              console.log(res);
              var data = res.data
              if(res.status == '200'){
                  window.location = "/quick-quiz/" + data;
              } else {
                  alert(res.message)
              }
          });
     }

        function handleEnableQuickQuiz(randomId) {
          fetch("/api/quick-quiz/enable-item", {
          method: "POST",
          body: JSON.stringify({
                randomId : randomId
              }),
          headers: {
              "Content-type": "application/json; charset=UTF-8"
          }
          })
          .then(res => res.json())
          .then(res => {
              console.log(res);
              var data = res.data
              if(res.status == '200'){
                  location.reload();
              } else {
                  alert(res.message)
              }
          });
     }
</script>
</body>
</html>