<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng nhập - Ngôi nhà toán học</title>
<link rel="stylesheet" th:href="@{/css/user_login.css}">
</head>
<body>
    <div>
        <form th:action="@{/user/login}" method="post" style="max-width: 400px; margin: 0 auto;">
            <p>
                Tài khoản: <input type="text" name="username" required />
            </p>
            <p>
                Mật khẩu: <input type="password" name="password" required />
            </p>
            <p>
                <input type="submit" value="Đăng nhập" />
            </p>
        </form>
    </div>
</body>
</html>