body {
    display: block;
    margin: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.home-container {
    height: 2000px;
}

#header-container{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF
}
.logo-app{
    width: 20%
}
.logo-app img{
    width: 100%
}
#header-container .navigation{
    display: flex;
    gap: 10px;
}
#header-container .navigation .item a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    padding: 6px 14px;
    border-radius: 8px;
}

#header-container .navigation .item a:hover{
    background-color: rgba(0, 0, 0, .05);
}

#banner-container .banner-item img{
    padding-top: 120px;
    width: 100%;
}

#navigation-container{
    width: 100%;
    display: flex;
    justify-content: center
}
nav {
    width: fix-content;
    background-color: #FFDC7F;
    display: flex;
    border-radius: 4px;
}

.parent-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width:100%;
    padding:8px;
}

.parent-menu .parent-item {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 10%;;
}

.parent-menu .parent-item a {
    display: block;
    padding: 10px;
    color: #222;
    text-decoration: none;
    min-width: 10%;
    font-weight:600;
}

.parent-menu .parent-item:hover .child-menu {
    display: block;
}

.child-menu {
    list-style-type: none;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: #FFDC7F;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.child-menu .child-item a {
    display: block;
    padding: 10px;
    color: #222;
    font-weight:600;
    text-decoration: none;
    min-width: 200px
}

.child-menu .child-item a:hover {
    background-color: #eeba2d;
    border-radius: 4px;
}