<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${lessonDTO.lessonName}"></title>
    <link rel="stylesheet" th:href="@{/css/lesson_save.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/ic_logo_app.png}">
</head>
<body>
<div class="pdf-container">
    <h1 th:text="${lessonDTO.lessonName}">PDF in an iframe</h1>
    <div class="pdf-content">
        <iframe th:src="@{${pathFile} + ${lessonDTO.pdfUrl}}" width="90%" height="80%">
        </iframe>
    </div>
</div>

</body>
</html>