<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bài học - Ngôi nhà toán học</title>
    <link rel="stylesheet" th:href="@{/css/lesson_page.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/ic_logo_app.png}">
</head>
<body>
    <div class="home-container">
        <div id="content-container">
            <div class="lesson-container">
                <div th:if="${subjectCollectionParentDTO != null}" >
                    <h2 th:text="${subjectCollectionParentDTO.subjectCollectionParentName}"></h2>
                </div>
                <div th:if="${subjectCollectionDTO != null}">
                    <h2 th:text="${subjectCollectionDTO.subjectCollectionName}"></h2>
                </div>
                <div class="lessons-grid">
                    <div class="lesson-item" th:each="lesson : ${lessonDTOS}">
                        <a th:href="@{'/lesson/detail/'+${lesson.slug}}">
                            <div class="image-lesson">
                                <img th:src="@{'/resource/' + ${lesson.imageUrl}}" alt="Lesson Image" class="lesson-image">
                            </div>
                            <h3 th:text="${lesson.lessonName}">Lesson Name</h3>
                            <p th:text="${lesson.description}">Description</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>