<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/lib/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/lib/my-popup.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/ic_logo_app.png}">
</head>
<body>
    <div class="home-container">
        <div id="header-container">
            <div class="logo-app">
                <img th:src="@{/images/ic_logo_app.png}" alt="logo app">
            </div>
            <div class="navigation" >
                <div class="item">
                    <a >Trang chủ</a>
                </div>
                <div class="item">
                    <a href="/lesson/bai-hoc">Bài học</a>
                </div>
                <div class="item">
                    <a  href="/test/trac-nghiem">Trắc nghiệm</a>
                </div>
                <div class="item">
                    <a  href="/note/my-note">Ghi chú</a>
                </div>
            </div>

            <div th:if="${userInfo == 'null'}" class="account" >
                <button class="login" href="/user/login/" >
                    <a href="/user/login">
                        <span>Đăng nhập</span>
                    </a>
                 </button>
                <button class="registry">
                    <a  href="/user/register">
                        <span>Đăng ký</span>
                    </a>
                </button>
            </div>
            <div th:if="${userInfo != 'null'}" class="user-info" >
                <div class="dropdown">
                    <button class="dropbtn">Chức năng
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <div class="header">
                            <h2><a href="/lesson/create">Tạo bài học</a></h2>
                            <h2><a href="/test/create/info">Tạo bài kiểm tra</a></h2>
                            <h2><a href="/lesson/create">Tạo bài học</a></h2>
                            <h2><a href="/quick-quiz/my-quick-quiz">Tạo câu đố</a></h2>
                        </div>
                    </div>
                </div>
                <div class="user-content">
                    <div class="full-name">
                        <span th:text="${'Xin chào '}"></span>
                        <span th:text="${userInfo}"></span>
                    </div>
                    <a class="avatar">
                        <img th:src="@{/images/ic_default_avatar.png}" alt="default logo user">
                    </a>
                </div>

            </div>
        </div>
        <div id="banner-container" class="swiper mySwiper">
            <div class="swiper-wrapper banner-item">
                <div class="swiper-slide">
                    <img th:src="@{/images/banner_app.png}" alt="banner app">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner_2.png}" alt="banner app">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner_3.png}" alt="banner app">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner_4.png}" alt="banner app">
                </div>
                <div class="swiper-slide">
                    <img th:src="@{/images/banner_5.png}" alt="banner app">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div id="content-container">
            <div class="lesson-container">
                <h2>Các bài học mới</h2>
                <div id="navigation-container">
                    <nav>
                        <ul class="parent-menu">
                            <li th:each="subject : ${subjectCollectionParentDTOS}" class="parent-item">
                                <a th:href="@{${'/lesson' + subject.prefix}}">[[${subject.subjectCollectionParentName}]]</a>
                                <ul class="child-menu">
                                    <li th:each="child : ${subject.subjectCollectionEntities}" class="child-item">
                                        <a th:href="@{${'/lesson' + child.prefix}}">[[${child.SubjectCollectionName}]]</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="lessons-grid">
                    <div class="lesson-item" th:each="lesson : ${lessonDTOS}">
                        <a th:href="@{'/lesson/detail/'+${lesson.slug}}">
                            <div class="image-lesson">
                                <img th:src="@{'/resource/' + ${lesson.imageUrl}}" alt="Lesson Image" class="lesson-image">
                            </div>
                            <h3 th:text="${lesson.lessonName}">Lesson Name</h3>
                            <p th:text="${lesson.description}">Description</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="content-container">
            <div class="lesson-container">
                <h2>Trắc nghiệm</h2>
                <div id="navigation-container">
                    <nav>
                        <ul class="parent-menu">
                            <li th:each="subject : ${subjectCollectionParentDTOS}" class="parent-item">
                                <a th:href="@{${'/test' + subject.prefix}}">[[${subject.subjectCollectionParentName}]]</a>
                                <ul class="child-menu">
                                    <li th:each="child : ${subject.subjectCollectionEntities}" class="child-item">
                                        <a th:href="@{${'/test' + child.prefix}}">[[${child.SubjectCollectionName}]]</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="lessons-grid">
                    <div class="lesson-item" th:each="test : ${testDTOS}">
                        <a th:href="@{'/test/prepare/'+${test.slug}}">
                            <div class="image-lesson">
                                <img th:src="@{'/resource/' + ${test.thumbnailFile}}" alt="Lesson Image" class="lesson-image">
                            </div>
                            <h3 th:text="${test.testName}">Lesson Name</h3>
                            <p th:text="${test.description}">Description</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="content-container">
            <div class="lesson-container">
                <h2>Khác</h2>
                <div class="lessons-grid">
                    <div class="lesson-item" th:each="content : ${contentDTOS}">
                        <a th:href="@{${content.slug}}">
                            <div class="image-lesson">
                                <img th:src="@{'/images' + ${content.imageUrl}}" alt="Lesson Image" class="lesson-image">
                            </div>
                            <h3 th:text="${content.contentName}">Lesson Name</h3>
                            <p th:text="${content.description}">Description</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner-container">
            <div class="banner-item">
                <img th:src="@{/images/footer.png}" alt="banner app">
            </div>
        </div>
    </div>

    <div th:if="${userInfo != 'null'}" id="popupOverlay" class="popup-overlay">
        <div class="popup-box">
            <img th:onclick="redirectQuickQuiz([[${quickQuizDTO.randomId}]])" th:src="@{/images/popup_cau_do_1.png}" style="width: 100%;">
            <button onclick="closePopup()">Đóng</button>
        </div>
    </div>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>-->

    <script>
        var swiper = new Swiper(".mySwiper", {
        pagination: {
         el: ".swiper-pagination",
           },
         autoplay: {
            delay: 5000,
          },
        });
            // Function to open popup
        function openPopup() {
        var TIME_SPACE = 1;
        var currentTime = Date.now();
        var popupReplayTime = localStorage.getItem('popup-replay-time');

        var minusMinuteTime = (currentTime - popupReplayTime)/ (1000) /60
        if(minusMinuteTime >= TIME_SPACE){
            var popupOverlay = document.getElementById('popupOverlay')
            if(popupOverlay){
                popupOverlay.style.display = 'flex';
                localStorage.setItem('popup-replay-time', currentTime);
            }
        }
        }
        // Function to close popup
        function closePopup() {
        document.getElementById('popupOverlay').style.display = 'none';
        }
        function redirectQuickQuiz(randomId){
            window.location = "/quick-quiz/" + randomId;
        }
        // Show popup on page load
        window.onload = openPopup;
    </script>
</body>

</html>