<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/ic_logo_app.png}">
</head>
<body>
    <div class="home-container">
        <div id="header-container">
            <div class="logo-app">
                <img th:src="@{/images/ic_logo_app.png}" alt="logo app">
            </div>
            <div class="navigation" >
                <div class="item">
                    <a>Trang chủ</a>
                </div>
                <div class="item">
                    <a>Bài học</a>
                </div>
                <div class="item">
                    <a>Trắc nghiệm</a>
                </div>
            </div>

            <div th:if="${userInfo == 'null'}" class="account" >
                <button class="login" href="/user/login/" >
                    <a href="/user/login/">
                        <span>Đăng nhập</span>
                    </a>
                 </button>
                <button class="registry">
                    <a  href="/user/register/">
                        <span>Đăng ký</span>
                    </a>
                </button>
            </div>
            <div th:if="${userInfo != 'null'}" class="user-info" >
                <div class="user-content">
                    <div class="full-name">
                        <span th:text="${'Xin chào '}"></span>
                        <span th:text="${userInfo}"></span>
                    </div>
                    <a class="avatar">
                        <img th:src="@{/images/ic_default_avatar.png}" alt="default logo user">
                    </a>
                </div>
            </div>
        </div>
        <div id="banner-container">
            <div class="banner-item">
                <img th:src="@{/images/banner_app.png}" alt="banner app">
            </div>
        </div>
        <div id="navigation-container">
            <nav>
                <ul class="parent-menu">
                    <li th:each="subject : ${subjectCollectionParentDTOS}" class="parent-item">
                        <a th:href="@{${subject.prefix}}">[[${subject.subjectCollectionParentCode}]]</a>
                        <ul class="child-menu">
                            <li th:each="child : ${subject.subjectCollectionEntities}" class="child-item">
                                <a th:href="@{${child.prefix}}">[[${child.SubjectCollectionName}]]</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="content-container">
            <div class="lesson-container">
                <h2>Các bài học mới</h2>
                <div class="lessons-grid">
                    <div class="lesson-item" th:each="lesson : ${lessonDTOS}">
                        <a th:href="@{'/lesson/detail/'+${lesson.slug}}">
                            <div class="image-lesson">
                                <img th:src="@{${pathFile} + ${lesson.imageUrl}}" alt="Lesson Image" class="lesson-image">
                            </div>
                            <h3 th:text="${lesson.lessonName}">Lesson Name</h3>
                            <p th:text="${lesson.description}">Description</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="content-container">
            <div class="lesson-container">
                <h2>Trắc nghiệm</h2>
                <div class="lessons-grid">
                    <div class="lesson-item" th:each="test : ${testDTOS}">
                        <a th:href="@{'/test/detail/'+${test.slug}}">
                            <div class="image-lesson">
                                <img th:src="@{${pathFile} + ${test.thumbnailFile}}" alt="Lesson Image" class="lesson-image">
                            </div>
                            <h3 th:text="${test.testName}">Lesson Name</h3>
                            <p th:text="${test.description}">Description</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>